In [1]:
import pandas as pd
dataset = pd.read_csv("StudentsPerformance.csv")
print(dataset)

     gender race/ethnicity      ...      reading score writing score
0    female        group B      ...                 72            74
1    female        group C      ...                 90            88
2    female        group B      ...                 95            93
3      male        group A      ...                 57            44
4      male        group C      ...                 78            75
5    female        group B      ...                 83            78
6    female        group B      ...                 95            92
7      male        group B      ...                 43            39
8      male        group D      ...                 64            67
9    female        group B      ...                 60            50
10     male        group C      ...                 54            52
11     male        group D      ...                 52            43
12   female        group B      ...                 81            73
13     male        group A      ...                 72            70
14   female        group A      ...                 53            58
15   female        group C      ...                 75            78
16     male        group C      ...                 89            86
17   female        group B      ...                 32            28
18     male        group C      ...                 42            46
19   female        group C      ...                 58            61
20     male        group D      ...                 69            63
21   female        group B      ...                 75            70
22     male        group D      ...                 54            53
23   female        group C      ...                 73            73
24     male        group D      ...                 71            80
25     male        group A      ...                 74            72
26     male        group B      ...                 54            55
27   female        group C      ...                 69            75
28     male        group C      ...                 70            65
29   female        group D      ...                 70            75
..      ...            ...      ...                ...           ...
970  female        group D      ...                100           100
971    male        group C      ...                 72            69
972  female        group A      ...                 50            60
973  female        group D      ...                 65            61
974  female        group A      ...                 63            67
975  female        group C      ...                 82            77
976    male        group B      ...                 62            60
977    male        group C      ...                 65            58
978    male        group D      ...                 41            48
979  female        group C      ...                 95            94
980  female        group B      ...                 24            23
981    male        group D      ...                 78            78
982    male        group B      ...                 85            86
983  female        group A      ...                 87            91
984  female        group C      ...                 75            82
985    male        group A      ...                 51            54
986  female        group C      ...                 59            51
987    male        group E      ...                 75            76
988  female        group A      ...                 45            45
989  female        group D      ...                 86            83
990    male        group E      ...                 81            75
991  female        group B      ...                 82            78
992  female        group D      ...                 76            76
993  female        group D      ...                 72            74
994    male        group A      ...                 63            62
995  female        group E      ...                 99            95
996    male        group C      ...                 55            55
997  female        group C      ...                 71            65
998  female        group D      ...                 78            77
999  female        group D      ...                 86            86

[1000 rows x 8 columns]

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     1000 non-null int64
reading score                  1000 non-null int64
writing score                  1000 non-null int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [3]:
dataset["Average"] = (dataset["math score"] + dataset["reading score"] + dataset["writing score"])/3
dataset.head()

   gender race/ethnicity    ...     writing score    Average
0  female        group B    ...                74  72.666667
1  female        group C    ...                88  82.333333
2  female        group B    ...                93  92.666667
3    male        group A    ...                44  49.333333
4    male        group C    ...                75  76.333333

[5 rows x 9 columns]

In [4]:
dataset_copy = dataset.copy()
dataset_copy.drop(labels ='parental level of education', axis='columns', inplace=True)
print(dataset_copy.head())

   gender race/ethnicity    ...     writing score    Average
0  female        group B    ...                74  72.666667
1  female        group C    ...                88  82.333333
2  female        group B    ...                93  92.666667
3    male        group A    ...                44  49.333333
4    male        group C    ...                75  76.333333

[5 rows x 8 columns]

In [5]:
dataset_copy.dropna(axis='index', how='any', inplace=True)
print(dataset_copy.head())

   gender race/ethnicity    ...     writing score    Average
0  female        group B    ...                74  72.666667
1  female        group C    ...                88  82.333333
2  female        group B    ...                93  92.666667
3    male        group A    ...                44  49.333333
4    male        group C    ...                75  76.333333

[5 rows x 8 columns]

In [6]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(dataset_copy, test_size=0.25, random_state = 123)
print(len(train_set))
print(len(test_set))
print(train_set.head())
print(test_set.head())

750
250
     gender race/ethnicity    ...     writing score    Average
894  female        group E    ...                69  63.333333
941  female        group D    ...                96  88.333333
285    male        group B    ...                82  81.666667
462  female        group E    ...                76  72.333333
370    male        group E    ...                71  77.333333

[5 rows x 8 columns]
     gender race/ethnicity    ...     writing score    Average
131    male        group C    ...                40  43.333333
203  female        group B    ...                68  64.666667
50     male        group E    ...                48  52.000000
585  female        group C    ...                76  72.333333
138  female        group C    ...                67  64.000000

[5 rows x 8 columns]

## Pick an initial set of features for X and the target feature y.  Explain why you made this choice.

I will try to do linear regression for X with Writing score, Math score, Reading score.

And y will be the average of all the three marks

In [7]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
X = train_set[["writing score"]]
Y = train_set["Average"]
reg.fit(X, Y)

print(reg.score(X,Y))

from sklearn.metrics import mean_squared_error
y_pred = reg.predict(X)
mse = mean_squared_error(Y, y_pred)
print("mean squared error is ",  mse)

from math import sqrt
rmse = sqrt(mse)
print("The root mean squared error is ", rmse)

0.9289252096335803
mean squared error is  14.089850381091356
The root mean squared error is  3.7536449460612755

## Notes 
1. Above restults is for X = Writing Score and y is average 
2. Score of this metrics is 0.928 but it should be approx equal to 1, So lets try for remaining attributes.
3. mean squared error is  14.0
4. The root mean squared error is 3.7

In [8]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
X = train_set[["reading score"]]
Y = train_set["Average"]
reg.fit(X, Y)

print(reg.score(X,Y))

from sklearn.metrics import mean_squared_error
y_pred = reg.predict(X)
mse = mean_squared_error(Y, y_pred)
print("mean squared error is ",  mse)

from math import sqrt
rmse = sqrt(mse)
print("The root mean squared error is ", rmse)

0.9391768932122632
mean squared error is  12.057558945080629
The root mean squared error is  3.4723995946723396

## Notes 
1. Above restults is for X = reading Score and y is average 
2. Score of this metrics is 0.9391 but it should be approx equal to 1, So lets try for remaining attributes.
3. mean squared error is  12.0
4. The root mean squared error is  3.4

In [9]:

from sklearn.linear_model import LinearRegression
reg = LinearRegression()
X = train_set[["math score"]]
Y = train_set["Average"]
reg.fit(X, Y)

print(reg.score(X,Y))

from sklearn.metrics import mean_squared_error
y_pred = reg.predict(X)
mse = mean_squared_error(Y, y_pred)
print("mean squared error is ",  mse)

from math import sqrt
rmse = sqrt(mse)
print("The root mean squared error is ", rmse)

0.8369170659104608
mean squared error is  32.32952400119388
The root mean squared error is  5.685905732703795

## Notes 
1. Above restults is for X = Writing Score and y is average 
2. Score of this metrics is 0.836 but it should be approx equal to 1.
3. mean squared error is  32.3
4. The root mean squared error is 5.6

## Results 

X = reading Score and y = Average is the best metrics from all the above three. as it is almost equal to 1, We can say that is the best.